:root{
    --bg-primary-color: rgb(25, 25, 25); 
    --bg-secondary-color: rgb(38, 36, 36); 
    --bg-active-color: rgb(220, 220, 220);
    --bg-danger-color: rgb(242, 56, 56);
    --bg-success-color: rgb(40, 168, 40);

    --text-primary-color: rgb(250, 250, 250); 
    --text-secondary-color: rgb(210, 204, 204); 
    --text-tertiary-color: rgb(181, 181, 181);
    --text-active-color: rgb(26, 25, 25);

    --padding-sm: 0.5rem;
    --padding-md: 1rem;
    --padding-lg: 1.5rem;
    --padding-xl: 2rem;

    --margin-sm: 0.5rem;
    --margin-md: 1rem;
    --margin-lg: 1.5rem;
    --margin-xl: 2rem;

    --gutter-sm: 0.5rem;
    --gutter-md: 1rem;
    --gutter-lg: 1.5rem;
    --gutter-xl: 2rem;

    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;

    --border-radius-sm: 0.2rem;
    --border-radius-md: 0.25rem;
    --border-radius-lg: 0.3rem;
    --border-radius-xl: 0.4rem;
}